@import '../../../styles';

mat-toolbar {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  .fill-space {
    flex: 1 1 auto;
  }
}

mat-nav-list {
  padding-top: 0 !important;
}

.active-link, .active-link:hover {
  background-color: mat-color($nis-app-primary) !important;
}

