<div class="ui-g">
  <ng-container *ngFor="let caseStudy of caseStudies">
    <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12">
      <mat-card>
        <mat-card-header>
          <!--<div mat-card-avatar class="avatar-image" [ngStyle]="{ 'background-image': 'url(' + caseStudy.thumbnail + ')', 'background-size': 'cover' }">
          </div>-->
          <mat-card-title>{{ caseStudy.name }}</mat-card-title>
          <mat-card-subtitle><p><small>{{ caseStudy.description }}</small></p></mat-card-subtitle>
        </mat-card-header>
        <a [routerLink]="['../case_studies', caseStudy.versions]">
          <!--<img mat-card-image src="{{ caseStudy.thumbnail }}" alt="">-->
          <p>IMAGEN</p>
        </a>
        <mat-card-actions style="text-align: right">
          <button mat-icon-button color="accent" (click)="op.toggle($event)" (mouseover)="op.show($event)" (mouseleave)="op.hide($event)">
            <mat-icon>info</mat-icon>
          </button>
          <ng-container *ngIf="caseStudy.case_study_permissions.share && authService.isLoggedIn()">
            <button mat-icon-button color="accent">
              <mat-icon>share</mat-icon>
            </button>
          </ng-container>
        </mat-card-actions>
      </mat-card>
      <p-overlayPanel #op>
        <p>Internal code: {{ caseStudy.internal_code }}</p>
        <p># of versions: {{ caseStudy.stats.n_versions }}</p>
        <p># of commands in the latest version: {{ caseStudy.stats.n_commands }}</p>
        <p># of hierarchies in the latest version: {{ caseStudy.stats.n_hierarchies }}</p>
      </p-overlayPanel>
    </div>
  </ng-container>
  <ng-container *ngIf="authService.isLoggedIn()">
    <div class="ui-g-12 ui-lg-3 ui-md-6 ui-sm-12">
      <mat-card class="new-cs">
        <mat-card-header>
          <mat-card-title>Add new case study</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-icon>add</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>
