
<div class="ui-g">
  <div class="ui-g-8 ui-sm-12">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let caseStudy of caseStudies" class="csContainer">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ caseStudy.uuid }}</mat-panel-title>
          <mat-panel-description>{{ caseStudy.name }}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-title>{{ caseStudy.name }}</mat-card-title>
          <mat-card-subtitle>{{ caseStudy.description }}</mat-card-subtitle>
          <mat-card-content>
            <div class="ui-g">
              <div class="ui-g-6">
                <p>Internal code: {{ caseStudy.internal_code }}</p>
                <p># of versions: {{ caseStudy.stats.n_versions }}</p>
                <p># of commands in the latest version: {{ caseStudy.stats.n_commands }}</p>
                <p># of hierarchies in the latest version: {{ caseStudy.stats.n_hierarchies }}</p>
              </div>
              <div class="ui-g-6">
                <div class="drop-zone">
                  <p>Add new version</p>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-action-row>
          <button mat-button>See versions</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="ui-g-4">
  <div class="drop-zone">
    <p>Add new case study</p>
  </div>
  <div class="stats-zone"></div>
</div>
</div>
